@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


.t1_header {
    text-decoration: underline;
    font-size: 130%;
}

.t1_ans1 {
    text-decoration: line-through;
    color: red;
}

.t1_ans2 {
    text-decoration: underline;
    font-weight: bold;
}

.t1_ans3 {
    font-weight: bold;
    text-decoration: overline;
}

.t2_p {
    font-family: "McLaren", serif;
    letter-spacing: -7px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
  }
  
.t2_href {
    font-size: 3rem; 
    text-decoration: none;
}
  
.t2_red {
    color: rgb(234, 67, 53);
}

.t2_blue {
    color: rgb(66, 122, 244);
}

.t2_green {
    color: rgb(52, 168, 83);
}

.t2_yellow {
    color: rgb(251, 188, 5)
}

.t3_p {
    font-family: "Rubik Mono One", serif;
    font-weight: 400;
    font-style: normal;
}

.t3_red {
    background-color: red;
}

.t3_orange {
    background-color: orange;
}

.t3_yellow {
    background-color: yellow;
}

.t3_green {
    background-color: green;
}

.t3_blue {
    background-color: blue;
}

.t3_cyan {
    background-color: cyan;
}

.t3_purple {
    background-color: #ff00ff;
}